/* 需要进行计算的 */
/* 
:root 伪类
匹配的是文档的根元素，也就是<html>标签
所以常用于声明全局的 CSS 变量
 */
:root {
  /* 
  命名写法是 `--变量名`，
  在引用这个变量时写法是 `var(--变量名)`
   */
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}


.hl {
  color: var(--base)
}



body {
  text-align: center;
}

body {
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}